{% extends "page.html" %}
{% block content %}
<article class='category'>
<h4>
    <a href="/">Home</a> ⇒
</h4>
<h1><a href="/{{ link_path }}">{{ title }}</a></h1>
{{ content }}
{{ item_list }}
</article>
{% endblock content %}
