{% extends "page.html" %}
{% block content %}
<div class='home'>
  <center>{{ content }}</center>
  <div class="outer-list">
    {% for category in categories %}
      <div class="outer-list-item">
        <a href="/{{ category.link_path }}">
            <div class="outer-list-header"><h2><big>{{ category.icon }}&nbsp&nbsp</big>{{ category.title }}</h2></div>
        </a>
        <div class="inner-list">
          {% for subcategory in category.list_items %}
            <a href="/{{ subcategory.link_path }}">
              <div class="inner-list-item {% if loop.last %}inner-list-item-last{% endif %}"><h3>{{ subcategory.title }}</h3></div>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
