<noscript><meta http-equiv="refresh" content="0; url=/{{ redirect_to }}"></noscript>

<body onload="window.location = '/{{ redirect_to }}'">

Redirecting... (if nothing happens, just <a href='/{{ redirect_to }}'>click here</a>)

</body>
