/* General */

.category img, .subcategory img, .story img {
    width: 700px;
    max-width: 100%;
    height: auto;
    float: left;
    margin-right: 1em;
    margin-bottom: 2em;
}

.home img {
    width: 100%;
    height: auto;
}

.site-title {
}

.outer-list {
    margin-top: 3em;
}

.outer-list-item {
    border-color: #d8cdc3;
    border-style: solid;
    border-width: 2px;
    border-radius:20px;
    background: #fff2e5;
    margin-top: 2em;
}

.outer-list-header {
    padding: 0.75em;
    padding-left: 1em;
    border-bottom-color: #d8cdc3;
    border-bottom-style: dotted;
    border-bottom-width: 3px;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
}

.outer-list a:link, .outer-list a:visited, .outer-list a:hover, .outer-list a:active {
    color: #5d5954;
    text-decoration: none
}

.inner-list {
    background: #fffaf4;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

.inner-list-item {
    padding: 0.75em;
    padding-left: 1em;
    border-width: 1px;
    border-bottom-width: 2px;
    border-bottom-color: #d8cdc3;
    border-bottom-style: dotted;
}

.inner-list-item:hover {
    background: #fffdfd;
    border-bottom-style: solid;
}

.outer-list-header:hover {
    background: #fffdfd;
    border-bottom-style: solid;
}

.inner-list-item-last {
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-style: none;
}

.inner-list-item-last:hover {
    border-bottom-style: none;
}

.toc {
    background: #EEEEEE;
    padding: 1em;
    min-width: 2em;
    border-width: 1px;
}
.toc .toctitle {
    font-weight: bold;
}

/* General */
body {
    margin: 0;
    line-height: 1.5em;
    color: #333333;
    font-family: Roboto, helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: 1em;
    clear: both;
}

a:link, a:visited {
    color: #0000e0;
    text-decoration: none
}

a:hover, a:active {
    color: #0000ff;
    text-decoration: underline
}


/* Single column layout */
nav section, header section, main, footer section {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5em;
}


/* Navigation panel */
nav {
    background: #333333;
    border-bottom: thin solid #111111;
    line-height: 3em;
}

nav a {
    margin-right: 1em;
}

nav a:link, nav a:visited {
    color: #cccccc;
}

nav a:hover, nav a:active {
    color: #ffffff;
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    nav .links {
        float: right;
    }
}


/* Footer */
footer {
    background: #f0f0f0;
    border-top: thin solid #e0e0e0;
    margin-top: 2em;
    padding: 1em 0;
    box-shadow: 0 100vh 0 100vh #f0f0f0;
    text-align: center;
}

footer section p {
    font-size: 0.8em;
}

footer a {
    margin-right: 1em;
}

footer a:last-child {
    margin-right: 0;
}


/* Posts */
article {
    margin-top: 1em;
    margin-bottom: 1em;
}

article h2 a:link, article h2 a:visited,
article h1 a:link, article h1 a:visited,
.more:link, .more:visited {
    color: #333333;
}

article h2 a:hover, article h2 a:active,
article h1 a:hover, article h1 a:active,
.more:hover, .more:active {
    color: #777777;
}

p.meta {
    margin-top: 0;
    font-size: 0.8em;
    color: #777777;
    font-style: italic;
}

p.summary {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

div .more {
    margin-top: 0;
    font-weight: bold;
}


/* RSS */
.rss {
    padding: 0.3em 0.35em;
    border-radius: 0.25em;
    font-size: 0.75em;
    font-weight: bold;
}

.rss:link, .rss:visited, .rss:hover, .rss:active {
    color: #ffffff;
    text-decoration: none;
}

.rss:link, .rss:visited {
    background: #ff6600;
}

.rss:hover, .rss:active {
    background: #ff8822;
}

